@import "../../styles/css/variables";

/** Buton component Style **/
.button{
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 11px 14px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    svg {
        margin-right: 12px;
        font-size: 16px;
        vertical-align: -0.125em;
    }
}

.default-primary{
    background-color: $cm-primary;
    color: $cm-light;
    &:hover, &:active{
        background-color: $cm-secondary;
    }
}

.default-secondary {
    color: $cm-light;
    background-color: $cm-gray--300;
    border: 1px solid $cm-gray--300;
}

.default-light {
    background-color: $cm-gray--200;
    color: $cm-light;
    border: 1px solid $cm-gray--200;
}

.outline-light {
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
    padding: 5px 14px 5px 10px !important;
    color: $cm-black;
    background-color: $cm-white;
    border: 1px solid $cm-gray--200 !important;
    svg {
        margin-right: 12px;
        font-size: 16px;
        vertical-align: -0.15em;
    }
    &:hover,
    &:active,
    &:focus {
        color: $cm-black;
        background-color: $cm-gray--200;
        border-color: $cm-gray--200;
        box-shadow: none !important;
    }
}