@import "../../../../../styles/css/variables";

.detalle-candidato{
    .layout{
        display: flex;
    }
    .main{
        border-right: 1px solid $cm-gray--200;
        flex-basis: 58%;
    }
    .sidebar{
        flex-basis: 42%;
        overflow-y: hidden;
    }
    .info{
        padding: 30px;
        border-bottom: 1px solid $cm-gray--200;
        img {
            float: left;
            width: 60px;
            height: 60px;
            border-radius: 100px;
            border: #e5e5e5 5px solid;
        }
        .profile {
            align-items: center;
            gap: 24px;
           
            h1 {
                font-weight: 600;
                font-size: 21px;
                line-height: 25px;
                margin-bottom: 4px;
            }
    
            .profile-location {
                align-self: center;
                div{
                    display: inline-block;
                    &:last-of-type{
                        margin-left: 16px;
                    }
                    svg {
                        color: $cm-gray--300;
                        vertical-align: baseline;
                        font-size: 18px;
                        vertical-align: -0.15rem;
                    }
                }
                
                p { 
                    display: inline-block;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    margin-left: 9px;
                    margin-bottom: -3px;
                    margin-top: 1px;
                    color: $cm-gray--300;
                }
            }
            .profile-status{
                margin-left: auto;
                p{
                    text-transform: uppercase;
                    color: $cm-gray--300;
                }
                span {
                    color: $cm-white;
                    text-transform: uppercase;
                    font-size: 12px;
                    padding: 5px 8px 4px;
                    margin-right: 6px;
                    border-radius: 40px;
                    float: right;
                }
                .contratado{
                    background-color: #36E4A6;
                }
                .preseleccionado{
                    background-color: #3684FA;
                }
                .pendiente{
                    background-color: #3FCBF8;
                }
            }
        }
    }
    .candidato-form{
        padding: 30px;
        input, select, option{
            color: $cm-dark;
            &::placeholder{
                color: $cm-dark;
                font-weight: 500;
            }
        }

        /*File Upload*/
        .file-upload{
            position: relative;
            display: inline-block;
            height: 100%;
            .button{
                padding: 10px;
                margin-right: 10px;
            }
            #cv-upload{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                cursor: pointer;

            }
            p{
                margin-bottom: 0;
                
            }
        }
    }

}