/* Variables */
// scss-docs-start theme-color-variables
$cm-primary: #32d4a4;
$cm-secondary: #0d6efd;
$cm-tertiary: #3FCBF8;
$cm-light: #ffffff;
$cm-dark: #121625;
$cm-red: #d04566;

// scss-docs-start gray-color-variables
$cm-white: #fff;
$cm-gray--100: #f8f8f9;
$cm-gray--200: #e6e6ea;
$cm-gray--300: #a5a8b3;
$cm-gray--400: #8c909c;
$cm-gray--500: #515561;
$cm-black: #121625;

// scss-docs-start border-radius-variables
$cm-border--radius: 6px;
$cm-border--radius-sm: 8px;
$cm-border--radius-lg: 20px;
$cm-border--radius-pill: 90px;
