/* Variables */
// scss-docs-start theme-color-variables
$cm-primary:       #32D4A4;
$cm-secondary:      #0d6efd;
$cm-light:         #FFFFFF ;
$cm-dark:          #121625 ;

// scss-docs-start gray-color-variables
$cm-white:    #fff ;
$cm-gray--100: #F8F8F9 ;
$cm-gray--200: #E6E6EA ;
$cm-gray--300: #A5A8B3 ;
$cm-gray--400: #8C909C ;
$cm-gray--500: #515561 ;
$cm-black:    #121625 ;

// scss-docs-start border-radius-variables
$cm-border--radius:               6px ;
$cm-border--radius-sm:            8px ;
$cm-border--radius-lg:            20px ;
$cm-border--radius-pill:          90px ;
